In [10]:
import pandas as pd

In [11]:
df=pd.read_csv("flight_data.csv")
df.head()

,from_airport_code,from_country,dest_airport_code,dest_country,aircraft_type,airline_number,airline_name,flight_number,departure_time,arrival_time,duration,stops,price,currency,co2_emissions,avg_co2_emission_for_this_route,co2_percentage,scan_date
0,ALG,Algeria,AEP,Argentina,Airbus A318|Canadair RJ 1000|Airbus A330|Airbu...,multi,[Air France| Iberia| LATAM],AF1491|AF1491|AF1491|AF1491,2022-04-30 14:30:00,2022-05-01 10:15:00,1425,3,1279.0,USD,1320000.0,1320000.0,0%,2022-04-29 17:52:59
1,ALG,Algeria,AEP,Argentina,Airbus A318|Canadair RJ 1000|Boeing 787|Airbus...,multi,[Air France| Iberia| LATAM],AF1491|AF1491|AF1491|AF1491,2022-04-30 14:30:00,2022-05-01 10:15:00,1425,3,1279.0,USD,1195000.0,1320000.0,-9%,2022-04-29 17:52:59
2,ALG,Algeria,AEP,Argentina,Airbus A320|Airbus A321|Boeing 787|Airbus A320,multi,[Air France| LATAM],AF1855|AF1855|AF1855|AF1855,2022-04-30 12:45:00,2022-05-01 10:15:00,1530,3,1284.0,USD,1248000.0,1320000.0,-5%,2022-04-29 17:52:59
3,ALG,Algeria,AEP,Argentina,Airbus A318|Airbus A320|Boeing 787|Airbus A320,multi,[Air France| LATAM],AF1491|AF1491|AF1491|AF1491,2022-04-30 14:30:00,2022-05-01 10:15:00,1425,3,1290.0,USD,1347000.0,1320000.0,2%,2022-04-29 17:52:59
4,ALG,Algeria,AEP,Argentina,Airbus A321neo|Boeing 777|Airbus A320,multi,[Lufthansa| LATAM],LH1317|LH1317|LH1317,2022-04-30 12:35:00,2022-05-01 10:15:00,1540,2,1347.0,USD,1381000.0,1320000.0,4%,2022-04-29 17:52:59

In [12]:
df['from_airport_code'].unique()

array(['ALG', 'AEP', 'SYD', 'MEL', 'VIE', 'BRU', 'GRU', 'CNF', 'VCP',
       'YYZ', 'SCL', 'CAN', 'CTU', 'SZX', 'PEK', 'SHA', 'XIY', 'PVG',
       'HGH', 'CGO', 'BOG', 'CPH', 'DUB', 'CAI', 'ADD', 'CDG', 'FRA',
       'MUC', 'ATH', 'DEL', 'BOM'], dtype=object)

In [13]:
df['dest_airport_code'].unique()

array(['AEP', 'SYD', 'MEL', 'VIE', 'GRU', 'BRU', 'YYZ', 'CNF', 'SCL',
       'CAN', 'SZX', 'PVG', 'BOG', 'CPH', 'DUB', 'ADD', 'CAI', 'CDG',
       'MUC', 'FRA', 'DEL', 'ATH', 'BOM', 'CGK', 'BLR', 'MXP', 'NRT',
       'HND', 'NBO', 'MEX', 'KUL', 'CMN', 'OSL', 'AMS', 'PTY', 'MNL',
       'LIM', 'LIS', 'FCO', 'DOH', 'SVO', 'SIN', 'DME', 'JNB', 'ICN',
       'CPT', 'MAD', 'TPE', 'ARN', 'BKK', 'SAW', 'IST', 'DXB', 'LHR',
       'LGW', 'MAN', 'ATL', 'ORD', 'LAX', 'PHX', 'MCO', 'CLT', 'MIA',
       'IAH', 'SEA', 'FLL', 'SFO', 'JFK', 'ZRH', 'ALG', 'SGN', 'SHA',
       'HGH', 'CTU', 'XIY', 'VCP', 'CGO', 'PEK'], dtype=object)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 998866 entries, 0 to 998865
Data columns (total 18 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   from_airport_code                998866 non-null  object
 1   from_country                     998866 non-null  object
 2   dest_airport_code                998866 non-null  object
 3   dest_country                     998866 non-null  object
 4   aircraft_type                    984952 non-null  object
 5   airline_number                   998866 non-null  object
 6   airline_name                     998866 non-null  object
 7   flight_number                    998866 non-null  object
 8   departure_time                   998866 non-null  object
 9   arrival_time                     998866 non-null  object
 10  duration                         998866 non-null  int64
 11  stops                            998866 non-null  int64
 12  price                            997513 non-null  float64
 13  currency                         998866 non-null  object
 14  co2_emissions                    993998 non-null  float64
 15  avg_co2_emission_for_this_route  910464 non-null  float64
 16  co2_percentage                   910464 non-null  object
 17  scan_date                        998866 non-null  object
dtypes: float64(3), int64(2), object(13)
memory usage: 137.2+ MB

In [15]:
df.isnull().sum()

from_airport_code                      0
from_country                           0
dest_airport_code                      0
dest_country                           0
aircraft_type                      13914
airline_number                         0
airline_name                           0
flight_number                          0
departure_time                         0
arrival_time                           0
duration                               0
stops                                  0
price                               1353
currency                               0
co2_emissions                       4868
avg_co2_emission_for_this_route    88402
co2_percentage                     88402
scan_date                              0
dtype: int64

In [16]:
df.fillna("Unknown",inplace=True)

/tmp/ipykernel_20145/2337384848.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Unknown' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.fillna("Unknown",inplace=True)